@mixin productos{
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 35%;
    margin: 0 auto;
}
.productosMobile{
    display: none;
}
@mixin cartas{
    font-size: 14px;
    font-weight: regular;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bodyProductos{
    background-image: linear-gradient(#fbf2e1, #EAC867);
    margin:0 auto;
} 
.libros{
    @include productos;
        div{
           img{
             height: 198px;
           }
           p{
             @include cartas;
           }
         }
    }
.productos{
     @include productos;
     div{
        img{
            height: 198px;
        }
     }
     p{
         @include cartas;
     }
}


@media screen and (max-width: 768px) {
    .productos {
        margin-top: 5%;
        margin-bottom: 5%;

    }
    .libros{
        display: none;
    }
    &.h2{
        display: none;
    }
    .productoDesktop{
        display: none;
    }
    .productosMobile{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .bg-dark{
        height: 300px;
        width: 300px;
        margin-bottom: 45px;
    }

    .productos{
        div{
           img{
               height: 300px;
               width: 300px;
               margin-bottom: 40px;
           }
        }
    }
    .card-title{
        background-color: black;
    }
    p.card-text{
        background-color: black;
    }

}
@media screen and (max-width: 350px){
    .bg-dark{
        height: 235px;
        width: 235px;
    }

    .card-img{
        width: 100px;
        height: 100px;
    }
    .productos{
        div{
           img{
               height: 235px;
               width: 235px;
           }
        }
    }


}